<div class="text-sm">
  <nav class="flex items-center justify-between flex-wrap p-6 fixed w-full z-10 top-0 text-white bg-main-color">
    <div class="mr-6">
      <img class="h-12 mt-1" src="images/logo_transparent_white.png"/>
    </div>
    <div class="mr-6 hover:underline cursor-pointer opacity-75">
      <a>{{t 'nav.logout' }}</a>
    </div>
  </nav>
  <div class="mb-32"></div>
</div>