<div>

  <div class="w-full rounded overflow-hidden shadow-lg my-10 cursor-pointer hover:shadow-xl">
    <img class="w-full h-20" src="/images/undraw_add_file.svg" alt="Sunset in the mountains">
    <div class="px-6 py-4">
      <div class="text-center w-full mb-2">{{t 'form.new_job' }}</div>
    </div>
  </div>
</div>